<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../lib/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../lib/mui/css/mui.css">
    <link rel="stylesheet" href="../styles/login.css">
    <title>fx-品优购</title>
</head>

<body>
    <div class="layout">
        <!-- 顶部搜索框 -->
        <header id="header" class="mui-bar mui-bar-nav">
            <a href="./categories.html" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
            <h1 class="mui-title">登录</h1>
        </header>
        <!-- 中部 -->
        <div class="pyg_content">
            <form action="">
                <div class="mui-input-row">
                    <label>手机</label>
                    <input type="text" class="mui-input-clear username" value="13112345678" placeholder="请输入手机号">
                </div>
                <div class="mui-input-row">
                    <label>密码</label>
                    <input type="password" value="123456" class="mui-input-password password" placeholder="请输入密码">
                </div>
                <div class="btns">
                    <button type="button" class="mui-btn mui-btn-primary mui-btn-block mui-btn-outlined register"> 注册</button>
                    <button type="button" class="mui-btn mui-btn-primary mui-btn-block login">登录</button>
                </div>
            </form>

        </div>
        <!-- 底部 -->
        <div class="pyg_footer">
            <nav class="mui-bar mui-bar-tab">
                <a class="mui-tab-item" href="../index.html">
                    <span class="mui-icon mui-icon-home"></span>
                    <span class="mui-tab-label">首页</span>
                </a>
                <a class="mui-tab-item" href="./categories.html">
                    <span class="mui-icon mui-icon-list"></span>
                    <span class="mui-tab-label">分类</span>
                </a>
                <a class="mui-tab-item shoppingCart" href="#tabbar-with-contact">
                    <span class="fa fa-shopping-cart"></span>
                    <div class="mui-tab-label">购物车</div>
                </a>
                <a class="mui-tab-item" href="#tabbar-with-map">
                    <span class="mui-icon mui-icon-contact"></span>
                    <span class="mui-tab-label">我的</span>
                </a>
            </nav>
        </div>
    </div>
</body>

</html>


<script src="../lib/zepto/zepto.js"></script>
<script src="../lib/arttemplate/template-web.js"></script>
<script src="../lib/mui/js/mui.min.js"></script>
<script src="../lib/iscroll/iscroll.js"></script>
<script src="../js/common.js"></script>
<script src="../js/login.js"></script>