html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
ol,
ul {
  list-style: none;
}
.layout {
  height: 100vh;
  width: 100vw;
  max-width: 640px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #eee;
}
.layout .pyg_header {
  width: 100%;
  height: 45px;
  padding: 5px;
  background-color: #fff;
}
.layout .pyg_content {
  width: 100%;
  flex: 1;
  overflow: scroll;
}
.layout .pyg_footer {
  width: 100%;
  height: 50px;
}
.layout .pyg_footer a span:nth-of-type(1) {
  margin-bottom: 2px;
}
.layout .pyg_footer .shoppingCart span {
  margin-bottom: 0;
  font-size: 24px;
}
.layout .pyg_footer .shoppingCart div {
  font-size: 12px;
}
.pyg_content {
  background-color: #fff;
  display: flex;
}
.pyg_content .left_menu {
  width: 100px;
  overflow: hidden;
}
.pyg_content .left_menu li {
  height: 50px;
  width: 100%;
  text-align: center;
}
.pyg_content .left_menu li a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 50px;
  font-size: 14px;
  color: #333;
  background-color: #eee;
  border-bottom: 1px solid #888;
  border-right: 1px solid #888;
}
.pyg_content .left_menu li.active > a {
  color: red;
  background-color: #fff;
  border-right: none;
}
.pyg_content .right_menu {
  flex: 1;
  overflow: hidden;
}
.pyg_content .right_menu .cate {
  padding: 10px 5px;
  display: flex;
  flex-wrap: wrap;
}
.pyg_content .right_menu .cate .title {
  text-indent: 1em;
  width: 100%;
}
.pyg_content .right_menu .cate a {
  text-align: center;
  display: block;
  padding: 5px;
  width: 33%;
}
.pyg_content .right_menu .cate a img {
  width: 100%;
}
.pyg_content .right_menu .cate a span {
  display: block;
  font-size: 14px;
  color: #333;
}
