@import 'reset.less';
@import './common.less';

.layout{
    // 中部内容
    .pyg_content{
        // 导航菜单栏
        nav{
            display: flex;
            padding: 10px;
            background-color: #fff;
            a{
                display: block;
                width: 25%;
                text-align: center;
                font-size: 14px;
                img{
                    width: 50%;
                }
            }
        }
        // 商品列表
        .goodsList{
            margin-top: 10px;
            .goodsItem{
               .groupImg{
                   width: 100%;
               } 
               .proBox{
                   width: 49%;
                   float: left;
                   background-color: #fff;
                   padding: 5px;
                   margin-bottom: 5px;
                   &:nth-of-type(even){
                       margin-left: 2%;
                   }
                   img{
                       width: 100%;
                   }
                   .proTitle{
                       font-size: 14px;
                       color: #000;
                   }
                   .proPrice{
                       font-size: 18px;
                       color: red;
                   }
                   .findGoods{
                       width: 80%;
                       display: block;
                       margin: 5px auto;

                   }
               }
            }
        }
    }
}
